<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      //  Driver event
      /*  socket.emit('join',{"data":{"id":"59bb77375ab21d1c98dd93ea","first_name":"Mikinj","last_name":"Mistry","email":"mim@narola.email"},"role":"driver"});
        socket.emit('update_driver_location',{"location":{"latitude":25.52,"longitude":52.25}});  // 'file1Event triggered' will be shown
        socket.on('listen_invitation',function(data){
            console.log("in listen_invitation : ",data);
        });
        */

      //  User event
        socket.emit('join',{"data":{"id":"59b90c594061720fe040b2f4","first_name":"Ashish","last_name":"Rana","email":"ar@narola.email"},"role":"user"});
        socket.emit('request_for_driver',{"location":{"latitude":"21.1593458","longitude":"72.7522557"},"pickup_location":{"placename":"Surat","latitude":"21.1593458","longitude":"72.7522557"},"destination_location":{"placename":"Ahmedabad","latitude":"22.1912517","longitude":"72.3128816"},"fare":"650"});

    </script>
  </body>
</html>
