<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.emit('update_driver_location',{"location":{"latitude":25.52,"longitude":52.25}});  // 'file1Event triggered' will be shown
    </script>
  </body>
</html>
