<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var driver = io();

      //  Driver event
        driver.emit('join',{"data":{"_id":"59bb77375ab21d1c98dd93ea","first_name":"Mikinj","last_name":"Mistry","email":"mim@narola.email"},"role":"driver"},function(resp){
            console.log("response back = ",resp);
        });

        driver.emit('update_driver_location',{"location":{"latitude":21.2020893,"longitude":72.7980589}},function(resp){
            console.log("response back = ",resp);
        });

        driver.on('listen_invitation',function(data){
            console.log("Driver : listen_invitation : ",data);
        });
        
        driver.on('request_accepted',function(data){
            console.log("Driver : request_accepted : ",data);
        });

        driver.on('listen_notification',function(data){
            console.log("Driver : listen_notification : ",data);
        });
        
        driver.on('user_logout',function(dara){
            console.log("Driver : user_logout : ",data);
        });

      //  User event
        var user = io();
        user.emit('join',{"data":{"_id":"59d468172fe61b24483eda8b","first_name":"Ashish","last_name":"Rana","email":"ar@narola.email"},"role":"user"},function(resp){
            console.log("response back = ",resp);
        });

        user.on('updated_driver_location',function(data){
            console.log("User : updated_driver_location : ",data);
        });

        user.on('request_accepted',function(data){
            console.log("User : request_accepted : ",data);
        });

        user.on('all_request_rejected',function(data){
            console.log("User : all_request_rejected : ",data);
        });

        user.on('driver_reached',function(data){
            console.log("User : driver_reached : ",data);
        });

        user.on('trip_started',function(data){
            console.log("User : trip started : ",data);
        });

        user.on('trip_completed',function(data){
            console.log("User : trip completed : ",data);
        });

        user.on('listen_notification',function(data){
            console.log("Driver : listen_notification : ",data);
        });

        user.on('driver_logout',function(data){
            console.log("User : driver_logout : ",data);
        });
/*
        user.emit('request_for_driver',{"pickup_location":{"placename":"Surat","latitude":"21.1593458","longitude":"72.7522557"},"destination_location":{"placename":"Ahmedabad","latitude":"22.1912517","longitude":"72.3128816"},"fare":"650"},function(resp){
            console.log("response back = ",resp);
        });
*/
    </script>
  </body>
</html>